/* 
* Chubby Grid 0.1
* By Scott Robbin and Naz Hamid (http://weightshift.com)
* 
* Derived from www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/


/* Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
	
	

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
	}

body {
	line-height: 1; 
	}

blockquote, q {
	quotes: none; 
	}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; 
	}

table {
	border-collapse: collapse;
	border-spacing: 0; 
	}
	
/* manual clearfix if needed */	
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 

		
/* Standard styles
================================================== */

body {
	color: #333;
	background:	#FFFFFF;
	font-family: open-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 20px;
	border:	0;
	margin: 0 0 50px 0;
	}

a:link,
a:visited { 
	color: #C30; 
	text-decoration: none; 
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear; 
	-o-transition: color .2s linear;
	transition: color .2s linear;
	}
a:hover { 
	color: #c30; text-decoration: none; border-bottom: 1px solid;
	}


/* HEADERS */

h1 {
	color: #888b83;  
	font-family: kulturista-web, Georgia, serif; 
	font-weight: normal; 
	font-size: 30px; 
	line-height: 36px; 
	margin-bottom: 20px; 
	}
h2 {  
	color: #888b83;
	font-family: kulturista-web, Georgia, serif;
	font-weight: 400;  
	font-size: 24px; 
	line-height: 24px; 
	text-transform: uppercase;
	letter-spacing: 2px; 
	margin-bottom: 20px; 
	}
h3 {   
	font-weight: bold;
	text-transform: uppercase;  
	font-size: 12px; 
	line-height: 20px;
	}
h4 {   
	font-weight: bold;
	font-size: 15px; 
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc; 
	}
h5 {  
	font-weight: normal;
	font-family: kulturista-web, Georgia, serif;
	text-transform: uppercase;
	letter-spacing: 1px;  
	font-size: 13px; 
	line-height: 20px;
	margin-bottom: 2px;
	 }

p { margin-bottom:	20px; }

em { font-style: italic; }

strong { font-weight: bold; }

q { 
	font-size: 20px; 
	font-style: italic; 
	}
ol,
ul { 
	padding: 0 0 0px 30px; 
	}
ol li, 
ul li { 
	line-height: 20px;
	}
	
blockquote { 
	border-left: 1px solid #ccc; 
	padding: 0px 30px 0px 15px; 
	margin-left: 14px; 
	}
blockquote p { 
	color: #555;  
	font-size: 14px; 
	line-height: 20px; 
	}


/* Layout
================================================== */

/* masthead */

#masthead { margin-top: 30px; }

@-moz-document url-prefix(http://michaeljamesmilton.com) {
   #masthead { margin-top: 30px !important; }
   #shopping-cart { margin-top: 0px !important; }
}



/* navigation */

.nav {
	color: #888b83;
	font-size: 16px; 
	font-family: kulturista-web, Georgia, serif; 
	text-transform: uppercase;
	letter-spacing: 2px;
	list-style: none;
	padding: 0 10px 29px 10px;
	margin: 29px -10px 0 -10px;
	border-bottom: 1px solid;
	width: 100%;
	}

.nav li { float: left; }

.nav a { color: #666; }
.nav a:hover { color: #333; }

.nav.primary { float: left; }
.nav.primary li { margin-right: 40px; }
	
.nav.secondary { float: right; }
.nav.secondary li { float: right !important; margin-left: 40px; }


/* cart header */

#shopping-cart { margin: -55px auto 30px auto; }
#shopping-cart p { color: #888b83; font-size: 14px; font-family: kulturista-web, Georgia, serif;  }
#shopping-cart a { font-family: open-sans, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.cart-title { font-family: kulturista-web, Georgia, serif; color: #1e829b; padding-right: 10px; }
.cart-title .icon { font-size: 20px !important; }
	


/* Homepage
================================================== */

body#home { color: #fff !important; height: 100%; }

#home #shopping-cart p,
#home .nav.primary a, 
#home .nav.secondary a { color: #fff !important; }
#home .nav { border-bottom: 1px solid #fff; }

#outer {height: 400px; overflow: hidden; position: relative;}
#outer[id] {display: table; position: static;}

#middle {position: absolute; top: 50%;} /* for explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%;}

#inner { position: relative; top: -50%; background-color: rgba(136,139,131,.7); padding-top: 30px; padding-bottom: 10px; }

#inner h1 { color: #fff; text-align: center; }
#inner a { color: #fff; border-bottom: 1px solid rgba(255,255,255,.5); }
#inner a:hover { color: #fc0; border-bottom: 1px solid #fc0; }

.vert-center { 
	position: absolute; 
	top: 0; left: 50%; 
	width: 100%; height: 100%;
	display: table;
	}
	.vert-content { display: table-cell; vertical-align: middle;  }
	
.slideshow { 
	width: 920px; 
	height: 609px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.3); 
	}
	
	.slideshow img { width: 100%; height: 100%; }

h2.featured { border-top: 1px solid #888b83; }
.see-all { padding-top: 100px; }


/* Products
================================================== */

.products-item { margin-bottom: 30px; }
.products-item p.image { line-height: 340px; }
.products-item img { vertical-align: middle; }
.products-item p { margin-bottom: 10px; }	
.products-item em { color: #1e829b; font-style: normal; }

.product-title { font-size: 13px; text-align: center; }

.categories { padding: 10px 0; margin-bottom: 30px; border-top: 1px solid #888b83; border-bottom: 1px solid #888b83; }
.categories a { 
	font-size: 13px;
	font-family: kulturista-web, Georgia, serif;  
	font-weight: normal;
	text-transform: uppercase; 
	letter-spacing: 2px; 
	margin: 0 10px 20px 10px !important;
	}
.categories a:hover,
.categories a.active {
	padding-bottom: 10px;
	border-bottom: 4px solid;
	} 
	
#product { 	/*product page*/
	}
	#product h1 { color: #1e829b; }
	#product .details { color: #888; font-family: kulturista-web, Georgia, serif; text-transform: uppercase; }
	#product .details em { color: #af6c0b; font-style: normal; font-size: 110%; }
	#product table { width: 100%; font-family: kulturista-web, Georgia, serif; font-size: 13px; border-bottom: 1px solid #ccc; }
	#product table td { padding: 5px 20px 5px 5px; border-top: 1px solid #ccc; }
	#product table em { color: #888b83; font-size: 90%; text-transform: uppercase; font-style: normal; }
	
.prev-next { font-size: 13px; font-family: kulturista-web, Georgia, serif; text-transform: uppercase; }
	
.btn { 
	font-size: 14px;
	font-family: kulturista-web, Georgia, serif;
	color: #fff !important;
	text-transform: uppercase;
	letter-spacing: 1px; 
	background-color: #c30;
	padding: 6px 8px;
	border: 1px solid #c30;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-appearance: none;
	}
	.btn:hover { 
		background-color: #e33a02;
		}

.btn.orange { background-color: #f90; border: 1px solid #f90; }
	.btn:hover.orange { background-color: #f8b026; border: 1px solid #f8b026; }
	
.btn.green { background-color: #690; border: 1px solid #690; }
	.btn:hover.green { background-color: #75ca20; border: 1px solid #75ca20; }
	
.buy-later { border-top: 1px dashed #ccc; padding-top: 20px; }
	
	
/* Your Cart
================================================== */

#cart table { 
	width: 100%; 
	border-top: 1px solid #e6f0f4;
	margin-bottom: 10px; 
	}
	#cart th { background-color: #e6f0f4; font-family: kulturista-web, Georgia, serif;  padding: 10px; text-align: left; }
	#cart tr { border-bottom: 1px solid #ccdee5; }
	#cart td { vertical-align: middle; padding: 10px; }
#cart input.field { width: 30%;  }

#cart .update-total { padding-right: 10px; }
#cart p.update-total { margin-bottom: 10px; }

#cart #complete, #cart #continue-shopping {  text-align: right; padding-top: 10px; padding-right: 10px; border-top: 1px solid #c2c6bb; }
#cart #continue-shopping { border-top: 1px dashed #c2c6bb; }
#cart #complete p, #cart #continue-shopping p { margin-bottom: 10px; }
#cart .cart-total { font-size: 15px; font-family: kulturista-web, Georgia, serif; }
#cart .cart-total span { font-weight: bold; font-family: open-sans, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }
#cart p#empty { border-top: 1px solid #c2c6bb; padding-top: 20px; }
	
	
/* Blog
================================================== */

.post { padding: 20px 60px 60px 60px; margin-bottom: 30px; border-bottom: 1px dotted #999; }

		
		
/* Footer
================================================== */

#footer { 
	font-family: kulturista-web, Georgia, serif;
	font-size: 13px;
	margin-top: 30px;
	}
#footer .rule { border-top: 4px double #888b83; padding-top: 20px; text-align: center; border-bottom: none; }



/* FAQ
================================================== */

.faq h4 { margin-top: 40px; }
.faq h4 em { float: right; font-weight: bold; padding-right: 10px; }

ol.faq-list li { margin-bottom: 5px; }

table.shipping {
	color: #000;
	font-size: 12px; 
	line-height: 16px; 
	font-family: courier new, courier;
}

table.shipping td { padding: 5px; vertical-align: middle; border: 1px solid #ccebe2; }


/* Miscellany
================================================== */

input#mce-EMAIL { width: 70%; text-align: center; padding: 2px; margin: 10px 0; }

hr { color: #666; background-color: #666; border: 0; height: 1px; }
.rule { border-bottom: 1px solid #888b83; }
.top-rule { border-top: 1px solid #888b83; padding-top: 20px; }
.right { text-align: right; }
.center { text-align: center; }
.intro { 
	font-family: kulturista-web, Georgia, serif; 
	font-weight: normal; 
	font-size: 24px; 
	line-height: 30px; 
	margin-bottom: 20px;
	}
.no-bottom-pad { margin-bottom: 4px !important; }
.serif { font-family: kulturista-web, Georgia, serif; }
.s { font-size: 13px; }

.icon { font-family: "Pictos"; font-size: 18px; }

@font-face {
font-family: 'pictos';
src: url('../_fonts/pictos-web.eot?') format('eot'),
url('../_fonts/pictos-web.woff') format('woff'),
url('../_fonts/pictos-web.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.error {
	margin-bottom: 20px;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
	-webkit-box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
	-o-box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
	box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
	}